<head>
     <!-- Required meta tags -->
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <title><%= title %></title>
     <!-- applicaion logo-->
     <link href="https://fonts.googleapis.com/css2?family=Tajawal:wght@500&display=swap" rel="stylesheet">     
     <link rel="icon" href="/assets/img/small_logo.ico" type="image/x-icon">
     <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="/assets/css/bootstrap.css">
     <link rel="stylesheet" href="/assets/css/themify-icons.css">
     <link rel="stylesheet" href="/assets/css/fontawesome.min.css">
     <!-- animate CSS -->
     <link rel="stylesheet" href="/assets/css/animate.css">
     <!-- magnific popup CSS -->
     <link rel="stylesheet" href="/assets/css/magnific-popup.css">
     <!-- dropzone css -->
     <link rel="stylesheet" href="/assets/css/dropzone.css">
     <!-- style CSS -->
     <link rel="stylesheet" href="/assets/css/style.css">
     <!-- dataTables bootstrap -->
     <!-- <link rel="stylesheet" href="/assets/css/dataTables.bootstrap4.css"> -->
     <!-- <link rel="stylesheet" href="/assets/css/responsive.bootstrap4.min.css"> -->
     
</head>
<header class="main_menu">  
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <div class="loader-wrapper">
                    <span class="loader"></span>
                </div>
                <%- include('nav.ejs') %>
            </div>
        </div>
    </div>
</header>