<!doctype html>
<html lang="en">

<body>
    <!--::header part start::-->
    <%- include('partial-views/header.ejs') %>
    <!-- Header part end-->
    
    <!-- banner part start-->
    <section class="banner_part">
        <div class="container p-5 mt-5">
            <div class="row ">
                <div class="col-lg-5 mt-5 p-5">
                            <h3>We are here for your care</h3>
                            <h1>Best Decentralized Record Management</h1>
                            <p>Manage your records everywhere, and grant access to any facilitator on demand at any given time </p>
                            <a href="/user/register" class="btn_2 mt-3">Get Started</a>
                </div>
                <div class="col-lg-7">
                    <div class="banner_img">
                        <img src="../assets/img/Decentralization.png" alt="decentralization">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner part start-->
    
    <!-- about us part start-->
    <section class="about_us padding_top padding_bottom" id="about_us_section">
        <div class="container">
            <div class="row">
                <div class="text-center">
                    <h2 class="m-2 p-2">About us</h2>
                    <h4>Our aim is to provide patient-centric decentralized secure and immutable record management system, stored on a peer-to-peer IPFS distrusted network inside the blockchain, governing the services across multiple health organization systems </h4>
                </div>
                <div class="banner_item col-lg-3">
                    <div class="single_item">
                        <img src="../assets/img/decentralized.svg" alt="Decentralized">
                        <h5>Decentralized</h5>
                    </div>
                </div>
                <div class="banner_item col-lg-3">
                    <div class="single_item">
                        <img src="../assets/img/immutable.png" alt="Immutable">
                        <h5>Immutable</h5>
                    </div>
                </div>
                <div class="banner_item col-lg-3">
                    <div class="single_item">
                        <img src="../assets/img/scalable.png" alt="Scalable">
                        <h5>Scalable</h5>
                    </div>
                </div>
                <div class="banner_item col-lg-3">
                    <div class="single_item">
                        <img src="../assets/img/lock.svg" alt="Encrypted">
                        <h5>Encrypted</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about us part end-->
    
    <!-- feature_part start-->
    <section class="feature_part padding_top padding_bottom" id="our_services_section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="text-center">
                        <h2>Our services</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="single_feature">
                        <div class="single_feature_part mb-5">
                            <span class="single_feature_icon"><i class="mt-3 fa fa-user-check fa-2x"></i></span>
                            <h4>Better Access Management</h4>
                            <p>Only patients have the authority to grant/revoke access for managing their EHR</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="single_feature">
                        <div class="single_feature_part mt-2">
                            <span class="single_feature_icon"><i class="mt-3 fa fa-dollar-sign fa-2x"></i></span>
                            <h4>Lesser Costs</h4>
                            <p>Our engineered solution provide better immutable cost of storing huge EHRs, in an IPFS and blockchain whereby the cost of every smart contract transaction is around 0.16$</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6  col-sm-12">
                    <div class="single_feature">
                        <div class="single_feature_part mb-4">
                            <span class="single_feature_icon"><i class="mt-3 fas fa-eye-slash fa-2x"></i></span>
                            <h4>No Centralized entity</h4>
                            <p>Every record instance is uploaded and retrieved in an encrypted form from a Peer-To-Peer called the IPFS inside the blockchain</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6  col-sm-12">
                    <div class="single_feature">
                        <div class="single_feature_part">
                            <span class="single_feature_icon"><i class="mt-3 fas fa-project-diagram fa-2x"></i></span>                           </span>
                            <h4>Everywhere, Anytime Access</h4>
                            <p>Through the power of blockchain immutability and IPFS nearest peer content access, our application is available throughout anytime and anywhere</p>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </section>
    <!-- feature_part start-->
    
    <!--::doctor_part start::-->
    <section class="section_padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8">
                    <div class="section_tittle text-center">
                        <h2> Technology Stack</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-4 p-2">
                    <div class="">
                        <div class="single-image">
                            <a href="https://github.com/ethereum/web3.js/" class="venobox " data-gall="gallery-item">
                                <img src="../assets/img/stack/ethereum.png" alt="" class="img-fluid">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 p-2">
                    <div class="">
                        <div class="single-image">
                            <a href="https://www.mongodb.com/">
                                <img src="../assets/img/stack/mongodb (1).png" alt="mongoDB_image" class="img-fluid">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 p-2">
                    <div class="">
                        <div class="single-image">
                            <a href="https://github.com/ethereum/web3.js/">
                                <img src="../assets/img/stack/web3.jpeg" alt="web3_image" class="img-fluid">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 p-2">
                    <div class="">
                        <div class="single-image">
                            <a href="https://webpack.js.org/">
                                <img src="../assets/img/stack/webpack.png" alt="webpack_image" class="img-fluid">
                            </a>
                        </div>
                    </div>
                </div>  
                <div class="col-lg-3 col-md-4 p-2">
                    <div class="">
                        <div class="single-image">
                            <a href="https://ipfs.io/" >
                                <img src="../assets/img/stack/ipfs.png" alt="IPFS_image" class="img-fluid">
                            </a>
                        </div>
                    </div>
                </div>      
                <div class="col-lg-3 col-md-4 p-2">
                    <div class="">
                        <div class="single-image">
                            <a href="https://jquery.com/">
                                <img src="../assets/img/stack/jquery.png" alt="jquery_image" class="img-fluid">
                            </a>
                        </div>
                    </div>
                </div>   
                <div class="col-lg-3 col-md-4 p-2">
                    <div class="">
                        <div class="single-image">
                            <a href="https://getbootstrap.com/">
                                <img src="../assets/img/stack/bootstrap.png" alt="bootstrap_image" class="img-fluid">
                            </a>
                        </div>
                    </div>
                </div>    
                <div class="col-lg-3 col-md-4 p-2">
                    <div class="">
                        <div class="single-image">
                            <a href="https://nodejs.org/">
                                <img src="../assets/img/stack/nodejs.png" alt="NodeJS_image" class="img-fluid">
                            </a>
                        </div>
                    </div>
                </div>      
            </div>
        </div>
    </section>
    <!--::doctor_part end::-->
    
    <!--::regervation_part start::-->
    <section class="regervation_part section_padding" id="contact_us_section">
        <div class="container">
            <div class="row align-items-center regervation_content">
                <div class="col-lg-7">
                    <div class="regervation_part_iner">
                        <form>
                            <h2>Contact Us</h2>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <input type="name" class="form-control" id="contact-name" placeholder="Name">
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="email" class="form-control" id="contact-email" placeholder="Email">
                                </div>
                                <div class="form-group col-md-12">
                                    <textarea class="form-control" id="contact-note" rows="4"
                                    placeholder="Your Note "></textarea>
                                </div>
                            </div>
                            <div class="regerv_btn">
                                <a href="#" class="btn_2">Submit</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- <div class="loader-wrapper">
        <span class="loader"></span>
    </div> -->
    <!--::regervation_part end::-->
    
    
    <!-- footer part start-->
    <%- include('partial-views/footer.ejs') %>
    
    <!-- footer part end-->
    
    <!-- jquery plugins here-->
</body>

</html>